@page 
@model AbbyWeb.Pages.Categories.EditModel


<form method="post">
    <div class="border-bottom p-3 mt-4">
        <h2 class="text-primary">Edit Category</h2>
        <hr />
        <input asp-for="@Model.Categories.Id" hidden />
        <div asp-validation-summary="All"></div>
        <div class="row pb-2">
            <label asp-for="@Model.Categories.CategoryName" class="text-primary">Category Name</label>
            <input asp-for="@Model.Categories.CategoryName" class="form-control" /> 
            <span asp-validation-for="@Model.Categories.CategoryName" class="text-danger"></span>
        </div>
        <div class="row pb-2">
            <label asp-for="@Model.Categories.DisplayOrder" class="text-primary">Display Order</label>
            <input asp-for="@Model.Categories.DisplayOrder" class="form-control" />
            <span asp-validation-for="@Model.Categories.DisplayOrder" class="text-danger"></span>
        </div>
        <hr />
        <button type="submit" class="btn btn-warning">Update</button>
        <a asp-page="Index" class="btn btn-primary">Return to list</a>
    </div>
</form>

@* With client side validation the server is not requested to validade de data *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}